
html, body {
  font-family: "Architects Daughter", sans-serif;
  width: 100%;
  margin:0;
  padding:0;
  }



body{
  position:relative;
  background-image: url("../assets/giveaway.jpg");
  background-repeat:repeat;
  background-size: cover;
  }

  .logo{
    width:250px;
    position:absolute;
    left:15%;
    top:55px;
    }


.app{
  position: absolute;
  display: flex;
  }


.home{
  display: flex;
  min-width: 100%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  }

.home > nav {
    width:70%;
    display: flex;
    border-bottom:2px solid #fff;
/*    background-color: rgba(107, 188, 188, 0.89);*/
  /*  box-shadow:0px 3px rgba(255, 255, 232, 0.3);*/
    line-height: 3.7em;
    flex-direction:row;
    height:215px;
    }

.home>nav>a {
  margin:auto;
background-color:#828282;
  box-shadow:0px 2px rgba(255, 255, 232, 0.4);
/*  border:1px solid black;*/
  flex-basis: calc(20% - 5em);
  flex-grow: 1;
  color: white;
  text-decoration: none;
  font-size:20px;
  text-align:center;
  margin-top:150px;
  font-family:Open sans-serif;
  }


.home a button{
  margin-top:150px;
/*  border-radius: 5px;*/
  background-color:rgb(149, 84, 134);
  box-shadow:2px 2px rgba(255, 255, 232, 0.4);
  }


.home a button:hover{
 background-color:#fff;
  color:#000;
  transition: .5s ease-out;
  }


.home>nav>a:hover{
  /*color:rgb(149, 84, 134);*/
  color:#ff7b7b;
  /*color:#ff9e9e;*/
  }


#homebox {

    color: #E1F5F5;
    text-shadow: 5px -5px rgb(80, 182, 182);
    display: inline;
    min-width: 100%;
    min-height: 900px;
   }

   .page{
    display: flex;
    flex-grow: 1;
    height:auto;
    min-height:800px;
    padding-bottom:70px;
     background-image: url("../assets/giveawaybackground.png");
     display:cover repeat-y;
    }

.page>nav {
    display: flex;
  background-color:rgba(230, 234, 234, 0.54);
  box-shadow:2px 2px rgba(255, 255, 232, 0.6);
    border-radius: 5px;
    line-height: 4em;
    flex-direction:column;
    margin-left:10%;
    margin-top:150px;
    padding:10px;
    text-align:center;
    height:500px;
    width:300px;
    }


.page nav a{
  color:#fff;
  margin-top:20px;
  margin-right:auto;
  margin-left:auto;
  width:240px;
  background-color:rgba(44, 37, 37, 0.4);
  }


.page nav a:hover{
  color:black;
  background-color:#ddd;
  transition: .5s ease-out;
  }



.page a button{
  margin-top:20px;
  background-color:rgb(149, 84, 134);
  }

.page a button:hover{
  background-color:#fff;
  color:#000;
  }


.page .about{
  height:500px;
  margin-left:30px;
  width:50%;
  margin-top:150px;
  border-radius: 10px;
  background-color:rgba(230, 234, 234, 0.54);
  box-shadow:2px 2px rgba(255, 255, 232, 0.6);
  }



.page .about h1{
  margin:auto;
  margin-top:20px;
  font-family: Bellefair;
  text-align:center;
  padding-bottom:30px;
  padding-top:20px;
  font-size:50px;
  color:#fff;
  background-color:rgba(172, 174, 174, 0.54);
  box-shadow:0px 2px rgba(255, 255, 232, 0.6);
  }




.page .about p{
  font-size: 200%;
  font-family: Bellefair;
  text-align:center;
  padding:100px;
  }

  .page div h1{
    margin-left:30px;
    text-align:center;
    color:#fff;
    font-family: Bellefair;
    padding:30px;
    width:80%;
    background-color:rgba(172, 174, 174, 0.54);
    box-shadow:2px 2px rgba(255, 255, 232, 0.6);
    }


  .page .donate-now-form{
    margin-top:0;
    margin-left:30px;
    padding:50px;
    width:80%;
    background-color:rgba(230, 234, 234, 0.54);
    box-shadow:2px 2px rgba(255, 255, 232, 0.6);
    }

    .page .donate-now-form div{
      width:500px;
      }


  .page .donate-now-form button{
    background-color:rgb(149, 84, 134);
    }
    

  .page .donate-now-form button:hover{
      background-color:#fff;
      color:#000;
      }




.page .item-list {
  margin-left:30px;
  padding:10px;
  background-color:rgba(230, 234, 234, 0.54);
  box-shadow:2px 2px rgba(255, 255, 232, 0.6);
  display: flex;
  flex-wrap: wrap;
  width:700px;
  align-content: space-around;
  overflow:hidden;
  }


.page .item-list .item{
padding:10px;
/*  background-color:red;*/
  margin:10px;
  margin-top:20px;
  width:200px;
   }


   .page .item-list h1{
     width:90%;
     font-size:30px; 

     }


  .page .item-list .item h1{
    width:100%;
    color:black;
    font-size:20px;
    background:none;
    box-shadow:none;
    margin:auto;
    padding:0;
    }




  .page .item-list .item image-case{
    margin:auto;
    width:200px;
    height:200px;

    }



    .page form{
  /*    background-color:pink;*/
      margin-left:50px;
      margin-top:150px;
    }

     .page form h1{
      width:100%;
      margin:0;
      margin-bottom:20px;
     }

      .page form input{
      width:70%;
 /*     background-color:red;*/
      }

       .page form label{
        line-height:20px;
        padding-left:30px;
     /*   background-color:red;*/
       }

       .page form button{
        background-color:rgb(149, 84, 134);
        }

        .page form button:hover{
          background-color:#fff;
          color:#000; 
          }

/*
.item>h1:first-of-type {
  font-weight: 100;
  flex-basis: 100%;
  font-size: 1.5em;
  text-transform: capitalize;
  }*/



.item>a {
  font-variant: small-caps;
  position: relative;
  left: 75%;
  text-decoration: underline;
  }
